VITE_REACT_APP_ENVIRONMENT=development

VITE_SERVER_KEY=your_server_key # strong key for accessing backend server, this should match backend server key
VITE_REACT_APP_BASE_URL_SERVER=http://localhost:4000/api/v1

VITE_PROFESSOR_NAME=buddy
