ENVIRONMENT=development # or production
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4173 # origins allowed for server
SERVER_KEY=your_server_key # server can be only accessible with server in headers
PORT=4000

LOKI_URL=http://localhost:3100/loki/api/v1/push # loki url for logging

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_password

POSTGRES_MIGRATE=yes # yes or no
POSTGRES_TRIGGER=yes # yes or no
POSTGRES_HOST=127.0.0.1
# POSTGRES_PORT=5432 -> optional
POSTGRES_USER=postgres
POSTGRES_DB=AI-Professor-Database
POSTGRES_PASSWORD=password

OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_API_KEY=ollama
AI_SERVICE_BASE_URL=http://127.0.0.1:8000
AI_SERVICE_API_KEY=test-key
